<article class="post">
  <div class="title">
    <a href="/post/{{id}}"><span>{{title}}</span></a>
  </div>
  <div class="meta">
    {{post_contents}}
    by <span id="post-author">{{user.username}}</span> on {{format_date created_at}}
    
  </div>
</article>